@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* Prevent scrollbars during animation */
    /* overflow: hidden; */
    font-family: "Roboto";
  }
  /* .hero{
    min-height: calc(100vh - 56px);
  } */
  
  .black-motion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: black;
    color: black;
    z-index: 100;
  }
  .active{
    background-color: tomato;
    border-radius: 8px;
  }

  ::-webkit-scrollbar {
    width: 15px; /* For vertical scrollbar */
    height: 5px; /* For horizontal scrollbar */
    background-color: #000; /* Background of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #f1f1f1; /* Color of the thumb */
    height: 20px;
    border-radius: 10px; 
    border: 5px solid #000; /* Adds padding around the thumb */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #000; /* Background of the track */
    /* border-radius: 10px; */
}

/* Style the scrollbar buttons (optional) */
::-webkit-scrollbar-button {
    display: none;
    /* background-color: #ccc; */
    /* border-radius: 5px; */
}

/* Style the corner between horizontal and vertical scrollbar */
::-webkit-scrollbar-corner {
    background-color: #b0b0b0;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar-track {
    display: none; 
    width: 0;
    height: 0;
  }}

.carousel{
  animation: slide 10s linear infinite;
  overflow: hidden;
}
@keyframes slide{
  0%{
    opacity: 1;
    transform: translate(-100%);
  }
  26%,75%{
    opacity: 1;
    transform: translate(0);
  }
  100%{
    opacity: 0.5;
    transform: translate(100%);
  }

}


.home{
  animation: fade 2s forwards ease-in;
}

@keyframes fade{
  0%{
      opacity: 0;
      /* transform: translateX(-100%); */
  }
  50%{
      opacity: .5;
  }
  100%{
      opacity: 1;
      /* transform: translateY(0); */
  }
}